
body {
	background-color: white;
}
.main {
	width: 100%;

}
a {
	text-decoration: none;
}
a:hover{
	color: black;
}
.header-nav {
	text-align: center;
	font-size: 16px;
	background-color: black;
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #6F7A8A;
	-webkit-box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.75);
box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.75);


}
.nav-content {
	margin-right: 80px;
	color: white;


}
