main {
	width: 85%;
	height: auto;
	margin: 0 auto;
}

.logo{
	width: 200px;
	height: 200px;
}

.logo-info{
	display: flex;
	justify-content: space-between;

}
.info {
	text-align: right;

}
.info-contenet{
	display: block;
}

.project{
	min-width: 48%;
    height: 542px;
    margin: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.projects{
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
	width: 100%;
}
.project-pictute{
	width: 100%;
	height: 80%;
	background-color: red;
}
