.main {
	width: 100%;
	display: flex;
	justify-content: center;
}
a {
	text-decoration: none;
}
.header-nav {
	text-align: center;
	font-size: 16px;
	background-color: black;
	height: 46px;
	width: 97%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-content {
	margin-right: 15px;
	color: white;

}
